body {
    background-color: #303030;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0 2em 0 2em
}

h1 {
    text-align: center;
}

@media only screen and (min-width: 670px) {
    body {
        padding: 0 8em 0 8em
    }
}
