/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #424242;
}

body {
    height: 100%;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5em 0 1.5em 0;
}

.hero-text {
    margin-top: 13em;
    text-align: center;
}

.hero-main-image {
    margin-top: 0.8em;
    margin-right: 4em;
    width: 25em;
    height: 24%;
}

.hero-section h1 {
    font-size: 6em;
    margin-bottom: 0.2em;
    text-align: center;
}

.hero-section h2 {
    text-align: center;
    margin-bottom: 2em;
    color: #FFFFFFB3;
}

.hero-section a {;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #FF9700;
    border-radius: 15px;
    text-align: center;
    margin-top: 3em;
    padding: 1em 17em;
}

.scroll-indicator {
    display: block;
    text-align: center;
    margin-top: 11em;
    color: white;
}

.scroll-indicator p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.scroll-indicator img {
    width: 6em;
    animation: scroll_bounce 1s infinite alternate;
}

@keyframes scroll_bounce {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

.feature-section {
    color: white;
    text-align: center;
    margin: -1em 0 1em 0;
}

.feature-section-dark-background {
    background-color: #212121;
    margin-top: -3.35em;
}

.feature-section-dark-background h1 {
    padding-top: 0.5em;
}

.feature-section h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.feature-section h2 {
    font-size: 2em;
    margin-top: 0;
    color: #FFFFFFB3;
}

.feature-section ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feature-section ul li {
    margin: 0 4em 0 4em;
}

.feature-section img {
    width: 25em;
}

.light-theme-image {
    background-image: url("../images/hibi/main-display-light.png");
}

.dark-theme-image {
    background-image: url("../images/hibi/main-display-dark.png");
}

.light-theme-image, .dark-theme-image {
    min-height: 1000px;
    position: relative;
    background-size: 25em;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme-text {
    position: absolute;
    top: 50%;
}

.mobile-theme-text {
    display: none;
}

.light-theme-image .theme-text {
    margin: 3em;
    text-align: left;
}

.dark-theme-image .theme-text {
    width: 100%;
    margin: -3em;
    text-align: right;
}

.link-section {
    color: white;
    text-align: center;
}

.link-section h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.link-section h2 {
    font-size: 2em;
    margin-top: 0;
    color: #FFFFFFB3;
}

.link-section ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-section ul li {
    margin: 0 8em 0 8em;
}

.link-section img {
    width: 100px;
}

.link-section a {
    text-decoration: none;
}

@media only screen and (max-width: 1705px) {
    .theme-text h1 {
        font-size: 3em;
    }

    .theme-text h2 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1485px) {
    .feature-section ul {
        display: inline-block;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1370px) {
    .theme-text h1 {
        font-size: 2.4em;
    }

    .theme-text h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1215px) {
    .hero-text {
        margin-top: 8em;
    }

    .hero-main-image {
        width: 20em;
    }

    .hero-section h1 {
        font-size: 4em;
    }

    .hero-section h2 {
        font-size: 1.5em;
    }

    .hero-section a {;
        padding: 1em 10em;
    }

    .scroll-indicator {
        margin-top: 5em;
    }

    .scroll-indicator p {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .scroll-indicator img {
        width: 6em;
    }

    .theme-text h1 {
        font-size: 2em;
    }

    .theme-text h2 {
        font-size: 1.3em;
    }

    .link-section ul {
        display: inline-block;
    }
}

@media only screen and (max-width: 1070px) {
    .hero-main-image {
        width: 15em;
    }

    .hero-section h1 {
        font-size: 3em;
    }

    .hero-section h2 {
        font-size: 1em;
    }

    .hero-section a {;
        padding: 1em 6em;
    }

    .scroll-indicator {
        display: none;
    }

    .scroll-indicator p {
        display: none;
    }

    .theme-text h1 {
        font-size: 1.4em;
    }

    .theme-text h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 880px) {
    .theme-text {
        display: none;
    }

    .mobile-theme-text {
        display: block;
        position: absolute;
        top: 50%;
    }

    .mobile-theme-text h1 {
        font-size: 3em;
    }

    .light-theme-image .mobile-theme-text {
        margin: 3em;
        text-align: left;
    }

    .dark-theme-image .mobile-theme-text {
        width: 100%;
        margin: -3em;
        text-align: right;
    }
}

@media only screen and (max-width: 765px) {
    .hero-section {
        text-align: center;
        display: inline-block;
        padding: 1.5em 0 1.5em 0;
    }

    .hero-main-image {
        margin: 0 0 -7em 0;
    }
}

@media only screen and (max-width: 705px) {
    .mobile-theme-text h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 620px) {
    .feature-section h1 {
        margin-top: 1.67em;
        font-size: 2em;
    }

    .feature-section h2 {
        font-size: 1em;
    }

    .feature-section img {
        width: 15em;
    }

    .light-theme-image, .dark-theme-image {
        background-size: 20em;
    }

    .link-section h1 {
        margin-top: 1.5em;
        font-size: 2em;
    }

    .link-section h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 540px) {
    .mobile-theme-text h1 {
        font-size: 1.5em;
    }

    .dark-theme-image .mobile-theme-text h1 {
        margin: -1em;
    }

    .light-theme-image .mobile-theme-text h1 {
        margin: -1em;
    }
}

@media only screen and (max-width: 485px) {
    .hero-section h1 {
        font-size: 2em;
    }

    .hero-section h2 {
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 3em;
    }

    .dark-theme-image, .light-theme-image {
        max-height: 500px;
        background-size: 15em;
    }

    .dark-theme-image .mobile-theme-text h1 {
        display: none;
    }

    .light-theme-image .mobile-theme-text h1 {
        display: none
    }

    .link-section ul li {
        margin: 0 5em 0 5em;
    }
}

@media only screen and (max-width: 380px) {
    .link-section h1 {
        margin-top: 2.5em;
        font-size: 1.5em;
    }

    .link-section h2 {
        font-size: 1em;
    }

    .link-section img {
        width: 4em;
    }

    .feature-section img {
        width: 10em;
    }

    .light-theme-image, .dark-theme-image {
        background-size: 10em;
        min-height: 400px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-main-image {
        width: 8em;
    }

    .hero-section h1 {
        font-size: 2em;
    }

    .hero-section h2 {
        font-size: 1em;
    }

    .hero-section a {
        padding: 1em 4em;
    }

    .feature-section img {
        width: 10em;
    }

    .link-section img {
        width: 3em;
    }
}