/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
}

.container {
    color: black;
    margin: 0 3em 0 3em;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 3.5em;
    margin: 0.5em 0 0.5em 0;
}