/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #424242;
}

body {
    height: 100%;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5em 0 1.5em 0;
}

.hero-text {
    margin-top: 13em;
}

.hero-main-image {
    margin-top: 0.8em;
    margin-right: 4em;
    width: 24%;
    height: 24%;
}

.hero-section h1 {
    font-size: 6em;
    margin-bottom: 0.2em;
    text-align: center;
}

.hero-section h2 {
    text-align: center;
    margin-bottom: 2em;
    color: #FFFFFFB3;
}

.hero-section a {;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #FF9700;
    border-radius: 15px;
    text-align: center;
    margin-top: 3em;
    padding: 1em 17em;
}

.scroll-indicator {
    display: block;
    text-align: center;
    margin-top: 11em;
    color: white;
}

.scroll-indicator p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.scroll-indicator img {
    width: 15%;
    animation: scroll_bounce 1s infinite alternate;
}

@keyframes scroll_bounce {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

.feature-section {
    color: white;
    text-align: center;
    margin: -1em 0 1em 0;
}

.feature-section-dark-background {
    background-color: #212121;
    margin-top: -3.35em;
}

.feature-section-dark-background h1 {
    padding-top: 0.5em;
}

.feature-section h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.feature-section h2 {
    font-size: 2em;
    margin-top: 0;
    color: #FFFFFFB3;
}

.feature-section ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feature-section ul li {
    margin: 0 4em 0 4em;
}

.feature-section img {
    width: 25em;
}

.light-theme-image {
    background-image: url("../images/hibi/main-display-light.png");
}

.dark-theme-image {
    background-image: url("../images/hibi/main-display-dark.png");
}

.light-theme-image, .dark-theme-image {
    min-height: 1000px;
    position: relative;
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme-text {
    position: absolute;
    top: 50%;
}

.light-theme-image .theme-text {
    margin: 3em;
    text-align: left;
}

.dark-theme-image .theme-text {
    width: 100%;
    margin: -3em;
    text-align: right;
}

.link-section {
    color: white;
    text-align: center;
}

.link-section h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.link-section h2 {
    font-size: 2em;
    margin-top: 0;
    color: #FFFFFFB3;
}

.link-section ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-section ul li {
    margin: 0 8em 0 8em;
}

.link-section img {
    width: 100px;
}

.link-section a {
    text-decoration: none;
}