/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #424242;
}

body {
    height: 100%;
}

header {
    margin-top: -3.3em;
    background: #212121;
    padding: 3em;
}

.acknowledgements-div {
    background: #212121;
}

h1 {
    color: white;
    font-size: 5em;
    margin-bottom: 0.2em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 4em;
    margin-bottom: 0.2em;
    padding: 0.5em;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

h4 {
    margin-bottom: 1em;
}

ul {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5em 0 1.5em 0;
    text-align: center;
    list-style-type: none;
}

ul li {
    background: #FF9700;
    border-radius: 15px;
    padding: 2em;
    margin: 2em;
}

ul li a {
    color: black;
    text-decoration: none;
}

.secondary-display li {
    padding: 0.5em;
}

@media only screen and (max-width: 915px) {
    h1 {
        font-size: 3em;
        margin-bottom: -0.5em;
    }

    h2 {
        font-size: 2em;
    }

    ul {
        display: block;
        justify-content: center;
        color: white;
        text-align: center;
        list-style-type: none;
    }

    ul li {
        background: #FF9700;
        border-radius: 15px;
        padding: 1em;
        margin: 1em 4em 1em 4em;
    }
}

@media only screen and (max-width: 620px) {
    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 0.9em;
    }

    ul li {
        background: #FF9700;
        border-radius: 15px;
        padding: 0.2em;
        margin: 1em 4em 1em 4em;
    }
}

@media only screen and (max-width: 410px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

    ul li {
        background: #FF9700;
        border-radius: 15px;
        padding: 0.2em;
        margin: 1em 4em 1em 4em;
    }
}